/* ========================= SET UP SNIPPETS START ========================== */

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ====================================== SET UP SNIPPETS END----- + */

/* ======================================== === APP STYLES START ===*/

/* === GLOBAL STYLES === */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: white;
  color: #2d0c30;
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
}

/* --- Global Typography --- */

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  width: 80%;
}

p,
a,
label,
input,
button {
  font-size: 2rem;
}

label,
input {
  color: #2d0c30;
}

a {
  text-decoration: none;
}

button,
.button {
  background: #e27a05;
  border: 1px solid #2d0c30;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(45, 12, 48, 0.3.5);
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin: 15px 0;
  padding: 10px 20px;
  transition: transform 200ms;
}

button:hover {
  border-color: #2d0c30;
}

button:focus,
button:focus-within,
.button:hover,
.button:focus,
.button:focus-within {
  border: 2px solid #2d0c30;
}

a:hover,
a:focus {
  font-weight: bold;
}

/* --- Layout ---*/

.pageContainer,
.copyContainer {
  margin: 0 auto;
  max-width: 1100px;
  width: 90%;
}

/* === HEADER COMPONENT === */

header {
  background: #e27a05;
  color: #f5f5f5;
}

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
}

.header .logo,
.header a {
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}

.header .logo:focus,
.header .button:focus {
  outline: 3px solid #2d0c30;
}

.header .logo {
  font-size: 5rem;
  padding: 15px 0;
}

.header .copyWrapper p {
  width: 75%;
  margin-bottom: 1.5em;
}

/* === HOME PAGE COMPONENT === */

.homePage h1 {
  font-size: 4.5rem;
}

.homePage,
.homePage h2 {
  font-size: 3.5rem;
}

.homePage h3 {
  font-size: calc(15px + (40 - 15) * ((100vw - 300px) / (1600 - 300)));
}

.homePage .copyWrapper {
  width: 70%;
}

.homePage .right {
  float: right;
  width: 150px;
}

.styleBlock {
  align-items: center;
  display: flex;
  height: 25vh;
  min-height: 150px;
  padding: 1em 0;
}

.styleBlock.block0 .button {
  display: none;
}

.styleBlock.block1 {
  background: #f5f5f5;
}

.styleBlock.block2 {
  background: #2d0c30;
  color: #f5f5f5;
}

.styleBlock.block3 {
  background: #eae100;
}

.toCreatePoll {
  background: #f5f5f5;
  border: 4px solid #2d0c30;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
  box-shadow: 0 0 15px rgba(45, 12, 48, 0.4);
  padding: 1.5em;
  position: fixed;
  /* slide in effect of side sticker part1*/
  right: -20em;
  top: 36%;
  width: 33%;
  max-width: 325px;
}

/* slide in effect of side sticker part2*/

main:hover .toCreatePoll {
  right: 0;
  transition-duration: 0.7s;
}

/* === CREATE POLL COMPONENT === */

.createPollMain {
  background: #f5f5f5;
  position: relative;
}

.createPoll {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  height: 90vh;
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
}

.createPollForm {
  background: white;
  border: 3px solid #2d0c30;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(45, 12, 48, 0.3);
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0;
  max-width: 700px;
  padding: 30px;
  width: 60%;
}

.createPoll .copyWrapper {
  float: left;
  width: 35%;
  padding-left: 50px;
  margin: 20px 0;
}

.createPollForm .copyWrapper {
  background: transparent;
  color: #2d0c30;
  width: 90%;
  margin: 0 auto;
}

.createPollForm .copyWrapper h2 {
  margin: 15px 0;
}

.createPollForm:focus-within {
  box-shadow: 0 0 25px rgba(45, 12, 48, 0.3);
}

.createPoll h2,
.createPoll p {
  padding: 10px 0;
}

.createPoll p {
  line-height: 1.6;
}

.createPoll h2 {
  padding: 15px 0;
  font-size: 4rem;
  margin-top: 25px;
}

.createPollForm h2 {
  font-size: 3rem;
}

.createPollForm label span {
  text-transform: capitalize;
  margin-right: 8px;
  font-family: "Montserrat", sans-serif;
}

.createPollForm label {
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  padding: 10px 0;
}

.createPollForm input {
  border: 2px solid #2d0c30;
  border-radius: 10px;
  font-size: 2.5rem;
  margin: 10px 0;
  padding: 5px;
  font-family: "Barlow", sans-serif;
  width: 100%;
}

.createPollForm input:focus,
.createPollForm input:focus-within {
  background: #ff0;
}

.buttonContainer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  margin: 20px auto;
}

.createPollForm button {
  padding: 10px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  width: 45%;
}

.createPollForm .resetButton {
  background-color: #edeff2;
  color: #2d0c30;
  border: 1px solid lightgray;
  box-shadow: none;
  font-weight: 600;
  padding: 10px;
  font-family: "Barlow", sans-serif;
}

input:focus,
input:focus-within {
  border: 4px solid #2d0c30;
  border-radius: 10px;
  outline: none;
}

/*  === POLL MODAL === */

.pollModalWrapper {
  background: rgba(45, 12, 48, 0.7);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.pollModal {
  background: #f5f5f5;
  border: 7px solid #2d0c30;
  border-radius: 15px;
  padding: 30px;
  margin: 10vh auto;
  max-width: 600px;
}

.pollModal p {
  margin-bottom: 40px;
}

.pollModal h2 {
  width: 100%;
}

/* === POLL ANALYTICS COMPONENT === */

.analytics {
  background: white;
  color: #2d0c30;
  font-size: 2rem;
}

.analytics h2 {
  padding: 50px 0 25px 0;
}

.analyticsInfo {
  background: #f5f5f5;
  border-radius: 20px;
  margin: 30px auto;
  padding: 25px 50px;
  width: 90%;
  border: 7px solid #2d0c30;
  border-radius: 15px;
}

.analyticsInfo .copyWrapper {
  width: 75%;
}

.analyticsInfo h2,
.analyticsInfo p {
  width: 100%;
}

.analyticsInfo h2 {
  width: 25%;
}

.analytics p {
  font-family: "Barlow", sans-serif;
  margin: 10px;
  line-height: 1.6;
  font-size: calc(15px + (25 - 15) * ((100vw - 300px) / (1600 - 300)));
}

.pollQuestion {
  font-size: 3.5rem;
}

.pollCounters {
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.count {
  border-radius: 5px;
  flex-basis: 32%;
  text-align: center;
  min-width: 100px;
  margin: 5px 5px;
}

.count p {
  line-height: normal;
  width: auto;
}

.countA {
  background: #eae100;
  color: #2d0c30;
}

.countB {
  background: #2d0c30;
  color: #f5f5f5;
}

.countTotal {
  background: #e27a05;
  color: #f5f5f5;
}

p.countNum {
  font-family: "Montserrat", sans-serif;
  font-size: calc(25px + (70 - 25) * ((100vw - 300px) / (1600 - 300)));
}

/* === VIEW POLL COMPONENT === */

.viewPoll {
  background: #ffffff;
  padding: 10vh;
  height: 85vh;
}

.viewPollForm {
  background: #f5f5f5;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 50px;
  border: 4px solid #2d0c30;
  box-shadow: 0 0 25px rgba(45, 12, 48, 0.3);
  border-radius: 15px;
}

.viewPollForm h2 {
  width: 100%;
  border-bottom: 3px solid #2d0c30;
  text-align: center;
}

.viewPollForm h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.viewPollForm button {
  display: block;
  margin: 0 auto;
}

.viewPollForm label {
  background: #eae100;
  border: 4px solid #2d0c30;
  border-radius: 10px;
  font-size: 2.3rem;
  padding: 30px;
  margin: 2px;
  display: inline-block;
  word-wrap: break-word;
  width: 47%;
  transition: background 200ms, color 200ms;
}

.viewPollForm label:focus,
.viewPollForm label:focus-within,
.viewPollForm label:hover,
.viewPollForm label.selected {
  cursor: pointer;
  background: #e27a05;
  color: #f5f5f5;
}

.viewPollForm input {
  opacity: 0;
}

.optionWrapper {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.userMessage {
  background: #f5f5f5;
  width: 50%;
  padding: 15px;
  margin: 15px auto;
  border: 3px solid #2d0c30;
  border-radius: 5px;
  text-align: center;
  font-size: 2.5rem;
}

/* === FOOTER COMPONENT === */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: #2d0c30;
  color: #f5f5f5;
}

/* === DISPLAY STYLES === */
.hide {
  display: none;
}

.show {
  display: block;
}

/* === MEDIA STYLES === */

/* --- HomePage ----*/
@media (max-width: 740px) {
  html {
    font-size: 55%;
  }

  .header .createLink {
    display: none;
  }

  .homePage {
    background: #eae100;
    padding-bottom: 20px;
  }

  .homePage h1 {
    font-size: 4rem;
    padding: 0;
    margin: 0;
  }

  .homePage .copyWrapper,
  .styleBlock {
    height: auto;
  }

  .homePage .copyWrapper {
    width: 90%;
    padding: 20px 0;
  }

  .homePage .block0 {
    background: #ffffff;
    padding: 15px 0;
  }

  .styleBlock.block0 .button {
    display: inline-block;
    float: right;
  }

  .toCreatePoll {
    border: 3px solid #2d0c30;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 30px;
    position: static;
    width: 85%;
    margin: 0 auto;
    max-width: none;
  }
}

.toCreatePoll .copyWrapper {
  padding: 0;
}

@media (max-height: 600px) {
  .styleBlock {
    height: auto;
  }
}

/* === ANALYTICS MEDIA QUERIES ===*/
@media (max-width: 600px) {
  .analyticsInfo .usersPollLink {
    font-size: 1.4rem;
    word-wrap: break-word;
  }
  .analyticsInfo {
    padding: 10px;
    width: 98%;
  }
}

@media (max-width: 400px) {
  .analyticsInfo .usersPollLink {
    font-size: 1.1rem;
  }
}

/* --- Veiw Poll --- */
@media (max-width: 500px) {
  .viewPollForm label {
    max-width: 220px;
  }
  .viewPoll {
    padding: 1.5em 0.2em;
  }
}

/* === CREATE POLL MEDIA QUERIES === */

/* --- Portrait tablet and small desktops --- */
@media (max-width: 1024px) {
  .createPoll {
    flex-flow: row wrap;
    height: auto;
    padding: 20px 0;
  }

  .createPoll h1 {
    margin: 10px 0;
  }

  .createPoll .copyWrapper,
  .createPollForm .copyWrapper {
    margin: auto;
  }

  .createPoll .copyWrapper {
    padding: 30px;
    max-width: 800px;
    width: 90%;
  }

  .createPollForm .copyWrapper {
    padding: 0;
    width: 80%;
  }

  .createPollForm {
    width: 100%;
    margin: 15px auto;
  }

  .createPollForm label {
    margin: 10px 0;
  }
}

/* --- Landscape phone to portrait tablet --- */
@media (max-width: 800px) {
  .createPoll {
    height: auto;
    flex-flow: row wrap;
    padding: 30px 0 60px 0;
  }

  .createPoll .copyWrapper {
    float: none;
    padding: 0;
    margin: 15px 0;
    margin: auto;
  }

  .createPollForm {
    width: 100%;
    margin: 10px auto;
  }

  .createPollForm input {
    font-size: 1.8rem;
  }

  .createPollForm h2 {
    font-size: 2rem;
  }

  .createPollForm h2,
  .createPollForm p {
    margin: 0 auto;
  }

  .createPollForm .buttonContainer {
    width: 100%;
  }

  .createPollForm button {
    padding: 10px 0;
    padding-bottom: 10px;
    width: 48%;
  }
}

/*  --- Landscape phones and down --- */
@media (max-width: 320px) {
  header h1 {
    text-align: center;
  }
  .createPoll {
    flex-direction: column;
  }
  .createPollForm {
    margin: 15px auto;
    width: 90%;
  }
  .createPoll .copyWrapper {
    float: none;
    width: 90%;
    padding-left: 0;
    margin: 20px 0;
  }
  .createPollForm input {
    font-size: 1.8rem;
    margin: 10px 0;
  }
  .createPollForm h2 {
    font-size: 2rem;
    text-align: center;
    width: 80%;
  }
  .createPollForm label {
    margin: 10px 0;
  }
}
